# Python virtual environment
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]

# PyCharm
.idea/

# Environment variables / secrets
.env

# Distribution / build files
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db